# Editor temporaries
*~
*.swp

# OSX dir files
.DS_Store

# Compiled python
python/*.pyc

# IPython notebook checkpoints
notebooks/.ipynb_checkpoints/*
python/__pycache__/*
python/.ipynb_checkpoints/*

# Data files
data_files/*

# Result Folders
Results/*
